# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# mypy
.mypy_cache/

# Home Assistant config (if accidentally added)
home-assistant.log

# Coverage
htmlcov/
.coverage

# Others
.DS_Store
